:root {
    --color-pricipal: rgb(192, 243, 192);
    --color-fondo: white;
    --color-texto: #222;
}

.factura {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4.5em 0 0;
}

.col-izq {
    border-right: 4px solid var(--color-pricipal);
}

.col-izq,
.col-der {
    padding: 0 2em;
}

h2 {
    text-align: center;
    margin-bottom: 1em;
}

.campo {
    margin-bottom: 4em;
    display: flex;
    justify-content: space-around;

}

.campo label {
    display: flex;
    font-weight: bold;
    margin: 0.2em;
}

.producto input,
.producto textarea {
    display: block;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #af6565;
    border-radius: 4px;
}

.tabla {
    background: rgb(240, 248, 244);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 6px;
    font-size: 0.9em;
}

.totales {
    background: rgb(240, 248, 244);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 6px;
    font-weight: bold;
}

/* ===== BOTÓN ENVIAR ===== */
.enviar {
    display: block;
    width: 100%;
    padding: 1em;
    background: darkgreen;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.enviar:hover {
    background: var(--color-pricipal);
}
input[type="checkbox"] {
  accent-color: rgb(192, 243, 192);
  width: 18px;
  height: 18px;
}
input{
    border-radius: 10%;
}
img{
    width: 10%;
}