:root {
  --color-pricipal: rgb(192, 243, 192);
  --color-fondo: white;
  --color-texto: #222;
}

.datios{
    display: flex;
    width: 44%;
    justify-content:space-around;
}
.menu_esco{
    margin: 1em 0;
    display: flex;
}
.sin{
    border: none;
    box-shadow: #807f7f 1px 1px;
    height: 2em;
    align-self: center;
}
#facturacion{
    border-left: 2px solid red;
}