*{
    font-family: sans-serif;
}

#encab1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu img{
    width: 50px;
}

#encab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.logos img{
    width: 50px;
}

.tipo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    
}

#cuadros{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3em;
}

.cuadro{
    border: 2px solid black;
    border-radius: 15px;
    width: 40%;
    display: flex;
}

.img_cuadro img{
    width: 500px;
}

.texto_cuadro{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
}

.titulo{
    padding-left: 3em;
}