*{
    font-family: sans-serif;
}
.tipo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    text-decoration: none;
}

#carta{
    z-index: 1;
}

#cuadros{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3em;
}

.cuadro{
    border: 2px solid black;
    border-radius: 15px;
    width: 40%;
    display: flex;
}

.img_cuadro img{
    width: 500px;
}

.texto_cuadro{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto_cuadro img{
    width: 50px;
}

.titulo{
    padding-left: 3em;
}

#boton{
    position: fixed;
    top: 85%;
    left: 93%;
}

#boton button{
    width: 70px;
    height: 70px;
    border-radius: 50%;


}
