body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf8f5;
  text-align: center;
  padding: 40px;
  color: #333;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #4a3c2a;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 85%;
  max-width: 900px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 14px;
  text-align: center;
  font-size: 17px;
}

th {
  background-color: #d4af37; 
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

tr:nth-child(even) {
  background-color: #f9f6f1;
}

tr:nth-child(odd) {
  background-color: #fff;
}

.boton-ir {
  display: inline-block;
  background-color: #28350f;  
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
}

.boton-ir:hover {
    background-color: #4c5c2793;  
    transform: scale(1.05);
}

.contenedor-boton {
    margin-top: 20px;
    text-align: center;  
}
