*{
    font-family: sans-serif;
}

#encab1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu img{
    width: 50px;
}

#encab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.logos img{
    width: 50px;
}

#ingreso{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 5em;
    justify-content: space-around;
}

#parte1{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#parte2{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nombre{
    width: 100%;

}

.descrip{
    width: 100%;
}

.descrip input{
    width: 300px;
    height: 200px;
}

.tama{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chec_tama{
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
}

.tama_caj{
    width: 100px;
    height: 20px;
    justify-content: center;
}

.alergias{
    width: 100%;
    display: flex;
    padding-left: 3em;
    gap: 1em;
    align-items: center;
}

.alergias input{
    width: 800px;
    height: 20px;
    justify-content: center;
}

.orden_p{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.combo{
    width: 100%;

}

.botones{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botones button{
    width: 100px;

}
