body {
  font-family: 'Arial', sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  margin: 6em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
}

label {
  font-size: 18px;
  color: #000;
}

input, select {
  padding: 10px;
  border: 2px solid #000;
  border-radius: 15px;
  font-size: 16px;
  outline: none;
}

button {
  padding: 12px;
  background-color: #b8e986;
  border: 2px solid #000;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #317031;
  cursor: pointer;
  width: 250%; 
  align-self: center; 
}


button:hover {
  background-color: #a3db74;
 
}


