*{
    font-family: sans-serif;
}

#encab1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu img{
    width: 50px;
}

#encab{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.logos img{
    width: 50px;
}

#visu{
    max-width: 100%;
    display: flex;
    margin-top: 2em;
    margin-left: 100px;
}

.parte1{
    width: 50%;
}

.img{
    max-width: 100%;
}

.img img{
    width: 100%;
}

#parte2{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-left: 0.5em;
    font-size: x-large;
}

.tama{
    width: 100%;
}

.botones{
    display: flex;
    justify-content: center;
}

.botones button{
    width: 80px;
    height: 40px;
}

.combo{
    width: 100%;
}

.botones2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.combo button{
    width: 200px;
    height: 30px;
}

.precio{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.boton_compra{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.botones_compra{
    width: 100%;
}

.botones_compra button{
    width: 200px;
    height: 50px;
}